body{
    background-color: rgb(221, 221, 221);
}

.no_warp{
    display: inline-block;
}

.frame{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    padding: 4px 4px;
    margin: 4px 0px;
    width: auto;
    overflow: auto;
}

.invisable{
    display: none;
}

.hideable-btn{
    display: block;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;
    padding: 2px;
}

.centered {
    text-align: center;
    margin: 0;
    color: blue;
}

.flash-animation{
    background-color: rgba(0, 255, 0, 0.5);
    animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
    0%, 100% {
        background-color: rgba(0, 255, 0, 0);
    }
    50% {
        background-color: rgba(0, 255, 0, 0.5);
    }
}

*{
    box-sizing: border-box;
}

/* 3d border like section */
section {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin: 16px 0px;
}

.section-title {
    position: sticky;
    top: 0;
    
    background-color: #dddddd;
    padding: 16px 8px;
    margin: 0;
    z-index: 10;
}

.section_content {
    padding: 0px 4px;
    overflow: auto;
}

/* catalog css */
.catalog-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #eeeeee;
    padding: 8px;
    max-height: 100%;
    overflow-y: auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.catalog-list {
    display: none;
    flex-direction: column;

    width: fit-content;
    background-color: #eeeeee;
}
.catalog-button:hover .catalog-list {
    display: flex;
}
