body{
    background-color: blanchedalmond;
}

.no_warp{
    display: inline-block;
}

.frame{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    padding: 4px 4px;
    margin: 4px 0px;
    width: auto;
    overflow: auto;
}

.invisable{
    display: none;
}

.hideable-btn{
    display: block;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;
}

.centered {
    text-align: center;
    margin: 0;
    color: blue;
}

.flash-animation{
    background-color: rgba(0, 255, 0, 0.5);
    animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
    0%, 100% {
        background-color: rgba(0, 255, 0, 0);
    }
    50% {
        background-color: rgba(0, 255, 0, 0.5);
    }
}

*{
    box-sizing: border-box;
}